
@font-face 		{
				font-family: 'Share Tech Mono';
				src: url('https://n-o-d-e.hashbase.io/fonts/font.eot');
				src: local('â˜º'), url('https://n-o-d-e.hashbase.io/fonts/font.woff') format('woff'), url('https://n-o-d-e.hashbase.io/fonts/font.ttf') format('truetype'), url('https://n-o-d-e.hashbase.io/fonts/font.svg') format('svg');
				}

body            {letter-spacing: 0.1px; padding: 0; margin: 0; font-family: 'Share Tech Mono', Monospace, Courier;
                font-weight: 400; font-size: 17px; color: #c8c8c8; background: #222;}
html            {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
pre             {padding: 0; margin: 0 0 50px 0;}

a               {text-decoration: none; color: #fff;}
a:hover         {color: #fff; text-decoration: underline;}
p               {padding: 0; margin: 10px 0 30px 0;}


@media 			only screen and (max-width: 900px)
{
img 			{width: 100%;}
body			{font-size: 19px;}
}

div{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 400px;
}

